infrastructure/cloudformation/current-statemachine.json
{
  "Comment": "Complete DD214 processing workflow with insights generation",
  "StartAt": "StartTextractJob",
  "States": {
    "StartTextractJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:textract:startDocumentTextDetection",
      "Parameters": {
        "DocumentLocation": {
          "S3Object": {
            "Bucket.$": "$.bucket",
            "Name.$": "$.key"
          }
        }
      },
      "ResultPath": "$.textractJob",
      "Next": "WaitForTextract"
    },
    "WaitForTextract": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "GetTextractResults"
    },
    "GetTextractResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:textract:getDocumentTextDetection",
      "Parameters": {
        "JobId.$": "$.textractJob.JobId",
        "MaxResults": 1
      },
      "ResultPath": "$.textractStatus",
      "ResultSelector": {
        "JobStatus.$": "$.JobStatus"
      },
      "Next": "CheckTextractStatus"
    },
    "CheckTextractStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.textractStatus.JobStatus",
          "StringEquals": "SUCCEEDED",
          "Next": "ProcessTextractResults"
        },
        {
          "Variable": "$.textractStatus.JobStatus",
          "StringEquals": "FAILED",
          "Next": "ProcessingFailed"
        }
      ],
      "Default": "WaitForTextract"
    },
    "ProcessTextractResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:205930636302:function:VetROI_DD214_Processor",
      "Parameters": {
        "stepType": "textract_complete",
        "documentId.$": "$.documentId",
        "textractJobId.$": "$.textractJob.JobId",
        "bucket.$": "$.bucket",
        "key.$": "$.key"
      },
      "ResultPath": "$.processedData",
      "Next": "StartMacieScan"
    },
    "StartMacieScan": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:205930636302:function:VetROI_DD214_Macie",
      "Parameters": {
        "operation": "scan",
        "documentId.$": "$.documentId",
        "bucket.$": "$.bucket",
        "key.$": "$.key"
      },
      "ResultPath": "$.macieJob",
      "Next": "WaitForMacie",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "WaitForMacie": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "CheckMacieFindings"
    },
    "CheckMacieFindings": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:205930636302:function:VetROI_DD214_Macie",
      "Parameters": {
        "operation": "process_findings",
        "macieJobId.$": "$.macieJob.macieJobId",
        "documentId.$": "$.documentId"
      },
      "ResultPath": "$.macieFindings",
      "Next": "IsMacieComplete"
    },
    "IsMacieComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.macieFindings.status",
          "StringEquals": "processing",
          "Next": "WaitForMacie"
        },
        {
          "Variable": "$.macieFindings.requiresRedaction",
          "BooleanEquals": true,
          "Next": "RedactDocument"
        }
      ],
      "Default": "GenerateInsights"
    },
    "RedactDocument": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:205930636302:function:VetROI_DD214_Macie",
      "Parameters": {
        "operation": "redact",
        "documentId.$": "$.documentId",
        "findings.$": "$.macieFindings.findings",
        "extractedText.$": "$.processedData.extractedText"
      },
      "ResultPath": "$.redactionResult",
      "Next": "GenerateInsights"
    },
    "GenerateInsights": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:205930636302:function:VetROI_DD214_Insights",
      "Parameters": {
        "documentId.$": "$.documentId",
        "extractedData.$": "$.processedData.extractedFields",
        "extractedText.$": "$.processedData.extractedText"
      },
      "ResultPath": "$.insightsResult",
      "Next": "UpdateDynamoDB",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ]
    },
    "UpdateDynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "VetROI_DD214_Processing",
        "Key": {
          "document_id": {
            "S.$": "$.documentId"
          }
        },
        "UpdateExpression": "SET #status = :status, #processed = :processed, #updated = :updated, #complete = :complete",
        "ExpressionAttributeNames": {
          "#status": "status",
          "#processed": "extracted_fields",
          "#updated": "updated_at",
          "#complete": "processing_complete"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "complete"
          },
          ":processed": {
            "S.$": "States.JsonToString($.processedData.extractedFields)"
          },
          ":updated": {
            "S.$": "$$.State.EnteredTime"
          },
          ":complete": {
            "BOOL": true
          }
        }
      },
      "ResultPath": "$.updateResult",
      "Next": "ProcessingComplete"
    },
    "ProcessingComplete": {
      "Type": "Succeed"
    },
    "ProcessingFailed": {
      "Type": "Fail",
      "Error": "ProcessingFailed",
      "Cause": "DD214 processing pipeline failed"
    }
  }
}

